@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

@font-face {
    font-family: "inter";
    src: url(assets/Inter-VariableFont_opsz,wght.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(assets/OpenSans-VariableFont_wdth,wght.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(assets/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(assets/Roboto-VariableFont_wdth,wght.ttf);
}
@font-face {
    font-family: "oswald";
    src: url(assets/Oswald-Light.ttf);
}

@theme{
    --font-inter: "inter";
    --font-OpenSans: "OpenSans";
    --font-Poppins: "Poppins";
    --font-Roboto: "Roboto";
}

@keyframes rotate-clock-wise {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

body::-webkit-scrollbar{
    width: 6px;
    background-color:#000000;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}
body{
    background: #ffffff;
}
#scroller::-webkit-scrollbar{
    width: 6px;
    background-color:#000000;
}

#scroller::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}